body, .pane, .view {
	color: #DDD !important;
	background: #000;
}

a { 
	color: #DDD;
	text-decoration: none;
}

textarea {
	width: 100%;
	resize: none;
	border-radius: 5px;
}

.popup {
	color: #000;
}
.popup-head {
	background-color: #184B68;
	padding: 8px 10px;
}

.popup-head h3 {
	color: #FFF;
}

.text-center { text-align: center }

.margin { margin: 1.5em }
.margin-top { margin-top: 1.5em }
.margin-right { margin-right: 1.5em }
.margin-bottom { margin-bottom: 1.5em }
.margin-left { margin-left: 1.5em }

/* BAR HEADER
================================== */
.bar-header {
	background: #184B68;
	color: #FFF;
}

.bar-header .h1, .bar-header h1,
.bar-header .button,
.bar-header .button:hover {
	color: #FFF;
}

.bar .title {
	position: relative;
	line-height: 34px;	
}

.bar-header .bt-header {
	position: absolute;
	right: 10px;
}

.bar-header .button .badge {
	position: absolute;
    top: 12px;
    right: -5px;
    padding: 1px 6px;
    font-size: 12px;
}

/* SELECIONAR TOKEN
================================== */
.lista {
	width: 100%;
	background: none;
	border-bottom: 1px solid #2A84B7;
	color: #DDD;
	padding: 15px 0;
}

select {
	color: #DDD;
	font-size: 18px;
}

.inserir-codigo { padding: 40px 0 }

.inserir-codigo img { 
	float: left;
	margin-right: 10px;
}

.inserir-codigo input {
	background: none;
	border: none;
	border-bottom: 1px solid rgba(255,255,255,0.4);
	font-size: 26px;
    text-align: center;
    font-weight: bold;
    color: #DDD;
    width: 80%;
}

.lancar-hora { 
	font-size: 1.5em;
    font-weight: bold;
    padding: 0.3em 0;
}

/* SUCESSO / ERRO
================================== */
.sucesso,
.erro {
	font-size: 1.3em
}

.sucesso .row+.row,
.erro .row+.row {
	margin-top: 10px
}

/* MENU
================================== */
.logoMenu {
	width: 100%;
	background: #000;
}

.item { 
	border: none;
	color: #000 !important;
}

.item.active { 
	background: #FFF;
	color: #2A84B7 !important;
}

/* HISTÓRICO
================================== */
.title h2 {
	color: #DDD;
	font-size: 1.5em;
	text-align: center;
	font-weight: bold;
}

table {
	width: 100%;
	background: #FFF;
}

table thead th,
table tbody td {
	padding: 10px 0;
	text-align: center;
	color: #777;
}

table thead th {
	background: #494949;
	color: #FFF;
	font-weight: bold;
}

table tbody tr:nth-child(2n) td { background: #D6D6D6 }

