<ion-view view-title="Sobre">
	<ion-content class="padding">
		<div class="row">
			<div class="col text-center">
				<img src="img/validahora.png" class="margin-bottom margin-top" width="70%" />
			</div>
		</div>
		<div class="row">
			<div class="col">
				<p>	Sistema que comprova a hora em que uma pessoa esteve em um determinado local.
					Pode ser usado como auxilio no ponto de funcionários, controle de rondas de segurança e outras aplicações.
					Permite acompanhamento remoto e preciso da hora em que o lançamento foi realizado.
				</p>

				<h3>E se...</h3>
				<p>Seus funcionários usassem uma solução simples, confiável e barata para lançar horas?</p>
				<p>Você fosse avisado sempre que sua empregada entrasse ou saísse da sua casa?</p>
				<p>Você aposentasse a folha de ponto e usasse uma solução prática, segura e em nuvem?</p>
				<p>O ValidaHora é a tecnologia mais simples e barata do mercado para fazer tudo isso.</p>


				<h3>Passclock</h3>
				<p>O termo PassClock vem do inglês "password clock", ou relógio que mostra senha.<p>
				<p>A cada minuto, o dispositivo exibe uma senha com 6 algarismos.</p>
				<p>Essa senha não pode ser recriada nem descoberta para horas passadas ou futuras.</p>
				<p>Compacto, confiável e seguro, o PassClock é o token usado por bancos para dar segurança às transações financeiras.</p>
				<p>Ele funciona mesmo sem energia elétrica ou acesso à internet. E não tem custo de manutenção.</p>
			</div>
		</div>
	</ion-content>
</ion-view>
