<ion-view view-title="Ativação">
	<ion-content class="content has-header">
		<div id="checkin-wrapper">
			<br /><br />
			<div class="row">
				<div class="col col-80 col-offset-10">
					<p>Este app funciona em conjunto com o app <b>EstiveAqui Gestor!</b></p>
				</div>
			</div>
			
			<div class="row">
				<div class="col col-80 col-offset-10">
					<p>Para usar o <b>EstiveAqui Gestor</b> você precisa ser convidado por um gestor.</p>
				</div>
			</div>
			
			<div class="row">
				<div class="col col-80 col-offset-10">
					<p>Peça ao seu gestor/empregador o envio do link de ativação deste app</p>
				</div>
			</div>
			
			<br />
			<div class="row">
				<div class="col col-80 col-offset-10 text-center" ng-click="downloadGestor()">
					<p>O <b>EstiveAqui Gestor</b> pode ser baixado aqui</p>
					<div>
						<img src="img/icon-gestor.png" width="40%" class="icon-round" />
					</div>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>
