<ion-view view-title="Ativação">
	<ion-content class="content has-header">
		<div id="checkin-wrapper">
			<div class="row">
				<div class="col col-80 col-offset-10 inserir-codigo">
					<img src="img/relogio.png" />
					<input type="text" name="token" placeholder="Código de Ativação" ng-model="token.number" ng-disabled="lockCode" />
				</div>
			</div>
			<div class="row">
				<div class="col col-80 col-offset-10">
					<button class="button button-block button-positive lancar-hora" ng-click="activate()">Ativar</button>
				</div>
			</div>
			<div class="row">
				<div class="col text-center">
					<p>Insira o código de ativação, caso não tenha um acesse <a onclick="window.open('http://www.estiveaqui.com.br', '_system', 'location=yes'); return false;">www.estiveaqui.com.br</a> e peça já o seu.</p>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>
