<ion-view view-title="Estive Aqui">
	<ion-nav-buttons side="right">
		<button class="button button-clear button-positive" ng-click="toggleNetRM()">
			<img ng-src="img/satelite{{hasNetwork?'On':'Off'}}.png" />
		</button>
		<button class="button button-clear button-positive" ng-disabled="syncCount==0||!hasNetwork" ng-click="runSync()">
			<img src="img/syncHora.png" />
			<span class="badge badge-assertive" ng-if="syncCount>0">{{syncCount}}</span>
		</button>
	</ion-nav-buttons>
	
	<ion-content class="content has-header">
		<div id="checkin-wrapper" ng-if="isShowMain">
			<!-- Exibir esta row quando houver mais de um token por usuário -->
			<div class="list local" ng-if="clocks.length>1">
				<label class="item item-input item-select" >
					<div class="input-label">
						Lançando em
					</div>
					<select name="passclocks" ng-model="registerData.token.clock" ng-change="clockChange()">
						<option value="{{clock.NumeroPassClock}}" {{registerData.token.clock==clock.NumeroPassClock:'selected':''}} ng-repeat="clock in clocks" ng-if="clock.Status=='0'">{{clock.Apelido}}</option>
					</select>
				</label>
			</div>

			<div class="row">
				<div class="col col-80 col-offset-10 inserir-codigo">
					<img src="img/relogio.png" />
					<input type="tel" name="token" placeholder="Inserir código" ng-model="fakeToken.code" tokenlimit id="code" autofocus="false" ng-focus="false" />
				</div>
			</div>
			<div class="row">
				<div class="col col-80 col-offset-10">
					<button class="button button-block button-positive lancar-hora" ng-click="registerToken()" ng-disabled="!readyToLaunch">Lançar hora</button>
				</div>
			</div>
			
			<div class="row">
				<div class="col text-center margin-top">
					<a ng-click="displayHistory()">Veja todas as horas lançadas hoje</a>
				</div>
			</div>
			
			<div class="row" ng-if="false">
				<div class="col text-center margin-top">
					{{timer}} - {{otpcode}}
				</div>
			</div>
			
			<div class="row" ng-if="false">
				<div class="col text-center margin-top">
					<a ng-click="displayLog()">LOG</a>
				</div>
			</div>
		</div>
		
		<ng-include src="'templates/success.html'"></ng-include>
		<ng-include src="'templates/error.html'"></ng-include>
	</ion-content>
</ion-view>
