<ion-view view-title="Valida Hora">
	<ion-nav-buttons side="right">
		<button class="button button-clear button-positive">
			<img ng-src="img/satelite{{hasNetwork?'On':'Off'}}.png" />
		</button>
		<button class="button button-clear button-positive" ng-click="sync()" ng-disabled="syncCount==0||!hasNetwork">
			<img src="img/syncHora.png" />
			<span class="badge badge-assertive" ng-if="syncCount>0">{{syncCount}}</span>
		</button>
	</ion-nav-buttons>
	
	<ion-content class="content has-header">
		<div id="checkin-wrapper" ng-if="isShowMain">
			<!-- Exibir esta row quando houver mais de um token por usuário -->
			<div class="list local" ng-if="clocks.length>1">
				<label class="item item-input item-select" >
					<div class="input-label">
						Lançando hora em
					</div>
					<select ng-model="registerData.token.clock" ng-options="clock.NumeroPassClock as clock.Apelido for clock in clocks">
						<!-- <option ng-repeat="clock in clocks" value="{{clock.NumeroPassClock}}">{{clock.Apelido}}</option> -->
					</select>
				</label>
			</div>

			<div class="row">
				<div class="col col-80 col-offset-10 inserir-codigo">
					<img src="img/relogio.png" />
					<input type="number" name="token" placeholder="Inserir código" ng-model="registerData.token.code" id="code" autofocus="true" />
				</div>
			</div>
			<div class="row">
				<div class="col col-80 col-offset-10">
					<button class="button button-block button-positive lancar-hora" ng-click="registerToken()" ng-disabled="!readyToLaunch">Lançar hora</button>
				</div>
			</div>
			<div class="row">
				<div class="col text-center margin-top">
					<a ng-click="displayHistory()">Veja todas as horas lançadas hoje</a>
				</div>
			</div>
		</div>
		
		<ng-include src="'templates/success.html'"></ng-include>
		<ng-include src="'templates/error.html'"></ng-include>
	</ion-content>
</ion-view>
