<div id="error-wrapper" ng-if="isError">
	<div class="row">
		<div class="col col-80 col-offset-10 text-center"><img src="img/erro.png" />
		</div>
	</div>
	<div class="row">
		<div class="col col-80 col-offset-10 text-center">
			<p>{{fail.title}}</p>
			<p>{{fail.message}}</p>
		</div>
	</div>
	<div class="row">
		<div class="col col-80 col-offset-10">
			<button class="button button-block button-positive lancar-hora" ng-click="displayMain()">{{fail.button}}</button>
		</div>
	</div>
</div>


