<ion-modal-view>
	<ion-header-bar>
		<h1 class="title">Horas lançadas hoje</h1>
		<button class="button button-clear button-primary" ng-click="hideHistory()">Fechar</button>
	</ion-header-bar>
	<ion-content>
		<!-- <div class="row">
			<div class="col title">
				<h2>Horas lançadas hoje</h2>
			</div>
		</div> -->
		<div class="row">
			<div class="col">
				<table>
					<thead>
						<tr>
							<th>Local</th>
							<th>Hora</th>
							<th>Código</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Casa</td>
							<td>10h30</td>
							<td>123456</td>
						</tr>
						<tr>
							<td>Casa</td>
							<td>10h30</td>
							<td>123456</td>
						</tr>
						<tr>
							<td>Casa</td>
							<td>10h30</td>
							<td>123456</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</ion-content>
</ion-modal-view>
