<ion-modal-view>
	<ion-header-bar>
		<h1 class="title">Horas lançadas hoje</h1>
		<button class="button button-clear button-primary" ng-click="hideHistory()">Fechar</button>
	</ion-header-bar>
	<ion-content>
		<!-- <div class="row">
			<div class="col title">
				<h2>Horas lançadas hoje</h2>
			</div>
		</div> -->
		<div class="row">
			<div class="col">
				<table ng-if="history.length<=0">
					<tbody>
						<tr>
							<td>Ainda não há lancamentos para hoje</td>
						</tr>
					</tbody>
				</table>
				
				<table ng-if="history.length>0">
					<thead>
						<tr>
							<th>Local</th>
							<th>Hora</th>
							<th>Código</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in history track by $index">
							<td ng-class="{'not_launched': item.not_launched}">{{item.PA}}</td>
							<td>{{ item.not_launched ? '--' : (item.HL | historyFormat)}}</td>
							<td>{{item.CD}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</ion-content>
</ion-modal-view>
