<ion-view view-title="Como Funciona">
	<!-- A classe .has-headder tá cagando no final da div. Ela tá comendo o final -->
	<ion-content class="content padding has-header">
		<div class="row">
			<div class="col text-center">
				<img src="img/validahora.png" class="margin-bottom" />
			</div>
		</div>
		<div class="row">
			<div class="col">
				<p>Donec facilisis tortor ut augue lacinia, at viverra est semper. Sed sapien metus, scelerisque nec pharetra id, tempor a tortor. Pellentesque non dignissim.</p>
				<img src="img/imgSobre.png" width="100%" class="margin-top margin-bottom" />
				<p>Nam porttitor blandit accumsan. Ut vel dictum sem, a pretium dui. In malesuada enim in dolor euismod.</p>
				<p>Donec facilisis tortor ut augue lacinia, at viverra est semper. Sed sapien metus, scelerisque nec pharetra id, tempor a tortor. Pellentesque non dignissim.</p>
			</div>
		</div>
	</ion-content>
</ion-view>
