<ion-view view-title="Como Funciona">
	<!-- A classe .has-headder tá cagando no final da div. Ela tá comendo o final -->
	<ion-content class="content padding has-header">
		<div class="row">
			<div class="col text-center">
				<img src="img/validahora.png" class="margin-bottom margin-top" width="70%" />
			</div>
		</div>
		<div class="row">
			<div class="col">
				<p>Digite o código de 6 números que aparece na tela do PassClock no campo "Inserir Código" do app.</p>
				<p>Pressione o botão "Lançar Hora" para lançar a hora.</p>
				<p>Se você estiver com acesso à internet no momento da digitação, o código é enviado imediatamente para o seu gestor.</p>
				<p>Caso você esteja sem internet, o código digitado é guardado no celular. Assim que você tiver novamente acesso à internet, os códigos são enviados para o gestor.</p>
				
				<!-- <p>Para ativar seu usuário você vai precisar de um código de ativação que pode ser obtido através do site <a onclick="window.open('http://www.estiveaqui.com.br', '_system', 'location=yes'); return false;">www.estiveaqui.com.br</a>.</p>
				<p>Junto do seu código de ativação, você irá receber um passclock físico, a partir daí fica muito fácil, a todo momento em que for necessário lançar uma nova hora no sistema basta ir até o seu passclock físico, gerar o número e inserir no campo correspondente no aplicativo, caso não haja internet disponível no momento não se preocupe, enviaremos os códigos assim que ouver uma conexão ativa.</p> -->
			</div>
		</div>
	</ion-content>
</ion-view>
