
    <div id="success-wrapper" ng-if="isSuccess">
      <div class="row">
        <div class="col col-80 col-offset-10 text-center"><img src="img/sucesso.png" />
        </div>
      </div>
      <div class="row">
        <div class="col col-80 col-offset-10 text-center">Hora lançada com sucesso! Obrigado!
        </div>
      </div>
      <div class="row">
        <div class="col col-80 col-offset-10 text-center"><textarea rows="6" placeholder="Insira seu comentário, caso necessário."></textarea>
        </div>
      </div>
      <div class="row">
        <div class="col col-80 col-offset-10">
          <button class="button button-block button-positive lancar-hora" ng-click="displayMain()">Ok</button>
        </div>
      </div>
    </div>

    
